* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: "Boogaloo", sans-serif;
}

.f1 {
    font-size: 6.0rem;
    line-height: 6.0rem;
}

.f2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    padding: 2.0rem;
}

.f3, a, legend, label, button, .consultar-button, .ver-plantas-button {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 1.2rem;
}

.f4, input, textarea {
    font-size: 2.0rem;
    line-height: 2.0rem;
}

main {
    background-color: lightgreen;
    color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    padding: 2.0rem;
    display: flex;
    background-color: darkgreen;
    color: burlywood;
}

header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

footer {
    justify-content: space-evenly;
    align-items: center;
}

section {
    scroll-margin-top: 10.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0.5rem;
}

a, button {
    color: burlywood;
}

a:hover, button:hover {
    color: coral;
}

a {
    text-decoration: none;
}

button {
    font-family: "Boogaloo", sans-serif;
    background-color: grey;
}

button:hover {
    background-color: darkslategrey;
}

.contenedor-icono {
    display: flex;
    align-items: center;
}

.imagen-icono {
    height: 6.0rem;
}

.contenedor-productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-producto {
    width: 40.0rem;
    height: 40.0rem;
    border-radius: 3.0rem;
}

.info-producto {
    margin: 0.3rem 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultar-button, .ver-plantas-button {
    padding: 1.2rem 2.8rem;
    text-decoration: none;
    border-radius: 3.0rem;
}

.consultar-button{
    background: burlywood;
    color: darkgreen;
}

.ver-plantas-button {
    background: darkgreen;
    color: burlywood;
}

.contenedor-botones-formulario {
    display: flex;
    justify-content: space-around;
    margin-top: 1.0rem;
}

#inicio, #contacto, #plantas {
    margin-bottom: 2.0rem;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 40.0rem 40.0rem 40.0rem;
}

.resenia {
    margin: 1.0rem;
    padding: 2.0rem;
    text-align: justify;
    background-color: burlywood;
    border-radius: 2.0rem;
}

form {
    background-color: darkgreen;
    color: burlywood;
    border-radius: 2.0rem;
    padding: 2.0rem;
}

input, textarea {
    font-family: sans-serif;
    width: 100%;
}

textarea {
    height: 20.0rem;
}

.contenedor-imagenes-inicio {
    display: flex;
    justify-content: space-evenly;
}

.imagen-inicio {
    width: 30.0rem;
    height: 30.0rem;
    margin: 0rem 2.0rem 2.0rem;
    border-radius: 3.0rem;
}

iframe {
    width: 50.0rem;
    height: 30.0rem;
    padding: 2.0rem;
}

@media only screen and (max-width: 600px) {
   html {
       font-size: 3px; /* Una sola columna en pantallas pequeñas */
   }

   .contenedor-grid {
        grid-template-columns: 130.0rem;
    }

    .f1 {
        font-size: 8.0rem;
        line-height: 8.0rem;
    }

    .f2 {
        font-size: 8.0rem;
        line-height: 8.0rem;
        padding: 2.0rem;
    }

    .f3, a, legend, label, button, .consultar-button, .ver-plantas-button {
        font-size: 7.0rem;
        line-height: 7.0rem;
    }

    .f4, input, textarea {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }
}