* {
    margin: 0;
    padding: 0;

}

body {
    background-color: lightgreen;
    color: darkgreen;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

header, footer, h2 {
    font-family: "Boogaloo", sans-serif;
}

header {
    background-color: darkgreen;
    color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    padding: 0px 40px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 5px;
}

a {
    color: burlywood;
    font-size: 27px;
    text-decoration: none;
}

.logo {
    padding: 20px;
    display: flex;
    align-items: center;
}
