* {
    margin: 0;
    padding: 0;

}

body{
    font-family: "Boogaloo", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-size: 40px;
}

main {
    background-color: lightgreen;
    color: darkgreen;
}

header, footer {
    padding: 20px;
    display: flex;
    background-color: darkgreen;
    color: burlywood;
}

header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

footer {
    justify-content: space-evenly;
    align-items: first baseline;
}

section {
    scroll-margin-top: 90px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 5px;
}

a, legend, label, button {
    font-size: 27px;
}

a, button {
    color: burlywood;
}

a:hover, button:hover {
    color: coral;
}

a {
    text-decoration: none;
}

button {
    font-family: "Boogaloo", sans-serif;
    background-color: grey;
}

button:hover {
    background-color: darkslategrey;
}

.flex-contenedor {
    display: flex;
    align-items: center;
}
